/* ====================================
 * Global
 * ===================================*/
body > div {
	position: relative;
	min-height: 50px;
	background-color: #fff;
}
table {
	border-collapse: separate;
}
th{
	font-weight: lighter;
}
tr, td, th {
	border-width: 0px;
}
table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
/* ====================================
 * loading
 * ===================================*/
.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
}
.loading img {
	vertical-align: middle;
}
/* ====================================
 * load_select_game
 * ===================================*/
div#load_select_game {
	height: 50px;
	min-height: 25px;
	width: 200px;
}
form#select_game {
	margin: 0;
	margin-left: 30px;
	padding: 0;
	position: relative;
	top: -5px;
	display: inline;
}
#load_select_game > img {
	height: 21px;
}
/* ====================================
 * cash_info
 * ===================================*/
#cash_info {
}
/* ====================================
 * portfolio
 * ===================================*/
#portfolio {
}
.portfolio_function {
	width: 20px;
}
/* ====================================
 * put_order
 * ===================================*/
#put_order > button {
	width: 2em;
	height: 2em;
	margin: 0.5em 0em;
}
#put_order > button.put_order_function_btn,
#put_order > input.put_order_function_btn{
	width: 5em;
}
#put_order form{
	text-align: center;
}
#put_order form td img {
	width: 22px;
}
#put_order input[type='text'], #put_order input[type='number'] {
	border: 1px solid #999;
	box-shadow: inset 1px 1px 5px 1px #bbb;
	border-radius: 10px;
	padding: 2px 5px;
}
#put_order input.input_error {
	box-shadow: 0px 0px 30px rgb(255, 21, 21);
}
#put_order div.DlsBS_Future {
	display: none;
}
#put_order div.DlsBS_Future select#DlsBS {
	width: 70px;
	padding-left: 10px;

}
#put_order div.DlsBS_Future span#cbxDayTrade {
	font-size: 0.9em;
}
.price_heighter {
	color: #ff0000;
}
.price_lower {
	color: #006B00;
}
/* ====================================
 * popup_note
 * ===================================*/
div#popup_note {
	z-index: 999;
	position: fixed;
	bottom: 0px;
	right: 0;
}
#popup_note > div{
	width: 250px;
	opacity: 0.8;
	margin: 0px 10px 10px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 20px 5px rgb(153, 152, 152);
	background-color: #FF9696;
}
#popup_note .note_content {
	display: inline-block;
	width: 180px;
}
#popup_note .note_title {
	display: block;
}
#popup_note .note_msg {
	display: block;
}
#popup_note .note_icon {
	display: inline-block;
	margin-right: 10px;
}
#popup_note .note_icon img {
	width: 30px;
}
#popup_note .note_icon_ok {
}
#popup_note .note_icon_ok img {
	top: -10px;
	position: relative;
}
/* ====================================
 * order_list
 * ===================================*/
#order_list {
	min-width: 300px;
	width: 300px;
	font-size: 1em;
	min-height: 175px;
}
#order_list > table {
	border-color: #ccc;
	border-width: 0px;
	border-collapse: separate;
	width: 100%;
}
/* ====================================
 * div_title
 * ===================================*/
.div_title {
	text-align: center;
	font-size: 1.2em;
	border-radius: 10px 10px 0px 0px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBEBEB), to(#C4C4C4));
	color: #3A3A3A;
	height: 25px;
}
.div_title img {
	position: absolute;
	top: 2px;
	right: 10px;
	height: 22px;
}
/* ====================================
 * div_drag
 * ===================================*/
.div_drag {
	box-shadow: 0px 0px 20px 1px;
	border-radius: 10px;
}
