/* ====================================
 * Global
 * ===================================*/
body > div {
	position: relative;
	min-height: 50px;
}
/* ====================================
 * loading
 * ===================================*/
.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
}
.loading img {
	vertical-align: middle;
}
/* ====================================
 * load_select_game
 * ===================================*/
div#load_select_game {
	height: 30px;
	min-height: 25px;
}
form#select_game {
	margin: 0;
	padding: 0;
	position: relative;
	top: -5px;
	display: inline;
}
#load_select_game > img {
	height: 21px;
}
/* ====================================
 * cash_info
 * ===================================*/
#cash_info {
}
/* ====================================
 * portfolio
 * ===================================*/
#portfolio {
}
.portfolio_function {
	width: 20px;
}
/* ====================================
 * put_order
 * ===================================*/
#put_order {
	text-align: center;
}
